@model List<ChuyenDeASPNET.Context.Product>

@{
    ViewBag.Title = "Danh Mục Sản Phẩm";
}

<section class="section-content padding-y">
    <div class="container">

        <!-- ============================  LỌC TOP  ================================= -->
        <div class="card mb-3">
            <div class="card-body">
                <ol class="breadcrumb float-left">
                    <li class="breadcrumb-item"><a href="https://localhost:44323">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Tên Danh Mục</a></li>
                    <li class="breadcrumb-item active">Chi tiết sản phẩm</li>
                </ol>
            </div> <!-- card-body .// -->
        </div> <!-- card.// -->
        <!-- ============================ KẾT THÚC LỌC TOP ================================= -->

        <div class="row">
            <aside class="col-md-2">
                <!-- Các phần lọc (Loại sản phẩm, Thương hiệu, Khoảng giá, Kích cỡ, Tình trạng) ở đây -->
            </aside> <!-- col.// -->
            <main class="col-md-10">

                <header class="mb-3">
                    <div class="form-inline">
                        <strong class="mr-md-auto">Tìm thấy 32 sản phẩm</strong>
                        <select class="mr-2 form-control">
                            <option>Sản phẩm mới nhất</option>
                            <option>Sản phẩm thịnh hành</option>
                            <option>Sản phẩm phổ biến nhất</option>
                            <option>Sản phẩm giá rẻ nhất</option>
                        </select>
                        <div class="btn-group">
                            <a href="page-listing-grid.html" class="btn btn-light" data-toggle="tooltip" title="Dạng danh sách">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a href="page-listing-large.html" class="btn btn-light active" data-toggle="tooltip" title="Dạng lưới">
                                <i class="fa fa-th"></i>
                            </a>
                        </div>
                    </div>
                </header><!-- sect-heading -->

                @foreach (var item in Model)
                {
                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="@Url.Action("ProductDetail", "Product", new { id = item.ProductID })" class="img-wrap">
                                    <span class="badge badge-danger"> MỚI </span>
                                    <img src="~/Content/images/items/@item.ProductImage" alt="@item.ProductName">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="@Url.Action("ProductDetail", "Product", new { id = item.ProductID })" class="h5 title"> @item.ProductName</a>
                                    <div class="rating-wrap mb-2">
                                        <ul class="rating-stars">
                                            <li style="width:100%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">9/10</div>
                                    </div> <!-- rating-wrap.// -->

                                    <p class="mb-3">
                                        <span class="tag"> <i class="fa fa-check"></i> Đã xác minh</span>
                                        <span class="tag"> 5 Năm </span>
                                        <span class="tag"> 80 đánh giá </span>
                                        <span class="tag"> Nga </span>
                                    </p>

                                    <p>
                                        @item.FullDescription
                                    </p>

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->
                            <aside class="col-sm-3">
                                <div class="info-aside">
                                    <div class="price-wrap">
                                        <span class="h5 price">@item.Price.ToString("C0", System.Globalization.CultureInfo.CreateSpecificCulture("vi-VN"))</span>
                                        <small class="text-muted">/mỗi sản phẩm</small>
                                    </div> <!-- price-wrap.// -->
                                    <small class="text-warning">Vận chuyển trả phí</small>

                                    <p class="text-muted mt-3">Công ty Grand textile</p>
                                    <p class="mt-3">
                                        <a href="#" class="btn btn-outline-primary"> <i class="fa fa-envelope"></i> Liên hệ nhà cung cấp </a>
                                        <a href="#" class="btn btn-light"><i class="fa fa-heart"></i> Lưu </a>
                                    </p>

                                    <label class="custom-control mt-3 custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <div class="custom-control-label">
                                            Thêm vào so sánh
                                        </div>
                                    </label>

                                </div> <!-- info-aside.// -->
                            </aside> <!-- col.// -->
                        </div> <!-- row.// -->
                    </article> <!-- card-product .// -->
                }

                <nav class="mb-4" aria-label="Trang điều hướng mẫu">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">Trước</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">Tiếp theo</a></li>
                    </ul>
                </nav>

                <div class="box text-center">
                    <p>Bạn có tìm thấy những gì bạn đang tìm kiếm không?</p>
                    <a href="" class="btn btn-light">Có</a>
                    <a href="" class="btn btn-light">Không</a>
                </div>

            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= KẾT THÚC NỘI DUNG PHẦN ========================= -->

<section class="padding-y-lg bg-light border-top">
    <div class="container">
        <p class="pb-2 text-center">Cung cấp các xu hướng sản phẩm mới nhất và tin tức ngành công nghiệp trực tiếp đến hộp thư của bạn</p>
        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Email của bạn" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Đăng ký </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text">Chúng tôi sẽ không bao giờ chia sẻ địa chỉ email của bạn với bên thứ ba.</small>
            </div> <!-- col-md-6.// -->
        </div>
    </div>
</section>
